.img {
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
}

.heading {
  margin: 0;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 15px;
}

.text {
  color: var(--gray);
}

@media screen and (min-width: 900px) {
  .root {
    display: flex;
    justify-content: space-between;
    height: 40vh;
  }
  .img {
    height: 100%;
  }

  .textContainer {
    width: 40%;
    justify-content: center;
  }
}
