.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 50vh;
}

.container {
  height: 100%;
}

.imgSlider {
}

.arrowContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.arrow {
  padding: 15px;
  background-color: var(--black);
}
