.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
  width: 100vw;
}

.logoContainer {
}

.logo {
}

.logo:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
