.root {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px;
  z-index: 10;
}

.logoContainer {
}

.logo {
}

.logo:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
